@page
@model SKYSWebDemo1.Pages.SuppliersModel
@{
}


<h1>Suppliers</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Namn</th>
        <th scope="col">Country</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var supplier in Model.Suppliers)
    {
        <tr>
            <td>@supplier.Name</td>  
            <td>@supplier.Country</td>  
            <td>
                <a asp-page="/ShowSupplier" asp-route-id="@supplier.Id" class="btn btn-secondary">Se info</a>
            </td>
        </tr>
    }

    </tbody>
</table>
